.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  background-color: white;
  cursor: pointer;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.option {
  margin-top: 0.25rem;
  font-size: 0.75rem;
}
